{% extends 'admin/accueil.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}
    <h1>Créer une annonce</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-default" value="Créer" />
    {{ form_end(form) }}


 
    <a href="{{ path('mesannonces') }}">
    <button type="button" class="btn btn-default">Retour à la liste</button></a>
{% endblock %}
