body{
    background-color: #F2F8EA;
}
h1{
   text-align:center; 
}

h2{
    
    background-color:#ff9000 ;
    color:white;
    width:295px;
   
}
.btn-default{
    
    background-color: #FEA226;
    margin:7px;
}

th{
    background-color: #fea226;
}  
   
