#adminbundle_annonce, #adminbundle_demande, #userbundle_user{
    background-color: #f2ffdf;
    border: solid #888 2px; 
    border-radius: 6px;
    width : 50%;
    margin-left: 25%;
    padding: 12px;
}

textarea{
    resize: none;
    max-height:300px; 
    min-height:200px;
}
