

.table {
    margin-top: 35px;
    margin-right: 25px;
    margin-left: 45px;
    width: 92%;
 
    
}
 tbody {
    background-color: #ffec85;
         
 }
 th{
     background-color: #ffca61;
     margin-bottom: 2px;
     
     
 }
 .modifier{
     color:black;
     text-align: center;
     
 }
 .afficher{
     color:black;
     text-align: center;
 }
 #aff{
padding-right:15px;
padding-left: 15px;
}
 #act{
     text-align: center!important;
 }
 #modi{
     padding-right:15px;
     padding-left: 15px;
 }
 #glyph{
     text-align:right;
 }
 
 