.table-responsive{
    
    .table-title {
        font-family: $main-font;
        background-color: #ff9000;
        color: #fff;
        width: 80%;
        margin: auto;
        padding: 20px;
        outline: solid 2px #ffca61;
        margin-bottom: 10px;
    }

    .table-visiteur{
        border-collapse: separate;  
        width: 80%;
        margin: auto;

        thead{
            padding-left: 10%;
            font-family: $main-font;
            height: 50px;
        }

        h3 {
            font-family: $main-font;

        }
        
        h5 {
            
        }

        tbody {
            background-color: #ffec85;

            .left-col{
                width: 160px;
                background-color: #ffca61;
            }

            .right-col{
                text-align: right;
                
            }

            tr:not(.spacer) {
                outline: solid 2px #ffca61;
            }


        }
        .spacer{
            height: 10px;
        }
    }
}

.imgcontainer {
    position: relative;
    overflow: hidden;
    height: 160px;
    width: 160px;

    img {
        max-height: 160px;
        max-width: 160px;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;

    }
}