{% extends 'accueil.html.twig' %}

{% block body %}
    <h2>Liste des catégories</h2>

    <table class="table table-categorie">
         
        <thead>
            <tr>
                <th>Nom</th>
                <th id="actcategorie">Actions</th>
            </tr>
        </thead>
        <tbody> 
        {% for categorie in categories %}
            <tr>
                
                <td>{{ categorie.nom }}</td>
                
                <td id="glyphcat">
                    <a href="{{ path('showcategorie', { 'id': categorie.id }) }}">
                        <span class="glyphicon glyphicon-list-alt afficher">
                        <p id="aff">Afficher</p></span></a>
                        
                    <a href="{{ path('editcategorie', { 'id': categorie.id }) }}">
                        <span class="glyphicon glyphicon-wrench modifier">
                        <p id="modi">Modifier</p></span></a>
                     
              </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
       </div>
       </div>
    </div>

            <a href="{{ path('newcategorie') }}">
                <button type="button"  class="btn btn-default">Creer une nouvelle catégorie</button></a
  
{% endblock %}
